.search-ordering-list.translate {
    display: flex;
    justify-content: center;
    left: 0px;
    width: 100%;
}

.search-ordering-list.translate.detail-blog {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 155px;
    left: 12px;
    width: 100%;
    transition: all 0.6s linear;
    box-shadow: 0 0 12px 5px rgba(255, 255, 255, 0.5);
}

.content-title-detial_blog .title-detail_blog {
    height: auto;
    padding-top: 5px;
    font-size: 30px;
    line-height: 45px;
    text-decoration: underline var(--primary-color);
    font-weight: 600;
}

.content-detial_blog,
.container_list-product.detail-blog {
    margin-top: 40px;
}

.content-detial_blog,
.container_list-product.detail-blog img {
    width: 100%;
    object-fit: contain;
    margin: 10px 0;
    object-fit: cover;
}

.content-detial_blog,
.container_list-product.detail-blog p {
    width: 100%;
    word-wrap: break-word;
    margin: 10px 0;
    font-size: 16px;
}

.content-detial_blog,
.container_list-product.detail-blog span {
    width: 100%;
    word-wrap: break-word;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
}

.content-detial_blog,
.container_list-product.detail-blog h1 {
    line-height: 50px;
}

.comtent-show_log {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

.comtent-show_log .content-comment__wrap {
    font-size: 18px;
}

.content-comment__wrap a:hover i {
    color: var(--primary-color);
}

.feedback_list-items .about-me_img {
    width: 100%;
    object-fit: contain;
    object-fit: cover;
}

.feedback_list-items .text-about_me {
    font-size: 14px;
    color: var(--white-color);
    text-align: center;
}

.title-text-blog_new {
    font-size: 18px;
}

.blogmasonry_item-title__row {
    display: flex;
}

.blogmasonry_item-title__row .blogmasonry_content-detail {
    width: 60%;
    margin-top: 10px;
}

.blogmasonry_item-title_link {
    font-size: 16px;
}

.blogmasonry-title_list-content-blog {
    width: 100%;
    height: 50px;
}

.blogmasonry-title_list-content-blog .blogmasonry_content-text {
    font-size: 13px;
    width: inherit;
    height: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: -14px;
}

.blogmasonry-title_item.blog {
    margin-top: -35px;
    padding: 5px 20px;
}

.container-blogmasonry-title_item.detail_blog {
    border-bottom: 1px solid rgb(97, 81, 81);
}

.list-blog_detail {
    height: 1000px;
    width: 100%;
    overflow-y: auto;
}


/* Works on Firefox */

.content-detial_blog {
    width: 100%;
    height: auto;
}

.content-detial_blog {
    width: 100%;
    height: auto;
}

.content-detial_blog.showmore {
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.btn-read_more-detail_blog {
    position: relative;
    width: 100%;
    /* height: 15px; */
    display: none;
    background-color: rgba(0, 225, 255, 0.335);
    -moz-box-shadow: 0px 0px 12px 0px var(--primary-color), 0px -10px 12px 0px var(--primary-color);
    -webkit-box-shadow: 0px 10px 12px 0px var(--primary-color), 0px -10px 12px 0px var(--primary-color);
    box-shadow: 0px 0px 50px 12px var(--primary-color), 0px 0px 0px 0px var(--primary-color);
    /* box-shadow: 0px 0px 50px 0px ; */
}

.btn-read_more-detail_blog .btn-read_more {
    position: absolute;
    height: 25px;
    text-align: center;
    line-height: 6px;
    cursor: pointer;
    top: -12px;
    opacity: 0.6;
}

.btn-read_more-icon {
    justify-content: center;
    margin-left: 60%;
    margin-top: -6px;
    font-size: 18px;
    opacity: 0.6;
}

.btn-read_more:hover,
.btn-read_more:hover .btn-read_more-icon {
    opacity: 1;
}

.content-detial_blog.showmore.moreactive {
    height: auto;
}

.btn-read_more-icon .btn-read_more-icondown,
.btn-read_more-icon .btn-read_more-iconup {
    display: none;
}

.btn-read_more-icon .btn-read_more-icondown.moreactive,
.btn-read_more-icon .btn-read_more-iconup.moreactive {
    display: block;
}